
<div class='small'>

<table id="log_file_table" class='table table-hover table-condensed table-bordered'>

<!-- HEADER ROW -->
<thead>
  <tr>
    <% @headers.each do |header| %>
      <th>
        <%= (header || "&nbsp;").underscore.humanize %>
      </th>
    <% end %>
  </tr>
</thead>

<!-- DATA ROWS -->
<tbody>
  <% @rows.each do |row| %>
    <tr>
    <% row.each do |field| %>
      <td>
        <%= field || "&nbsp;" %>
      </td>
    <% end %>
    </tr>
  <% end %>
</tbody>

</table>

</div>


