
<div class='bib_data'>
  <table class="offsite_request">
    <tbody>
      <tr>
        <td>CLIO Record Key:</td>
        <td><%= @clio_record.key%></td>
      </tr>
      <tr>
        <td>TITLE:</td>
        <td><%= @clio_record.title%></td>
      </tr>
      <tr>
        <td>AUTHOR:</td>
        <td><%= @clio_record.author%></td>
      </tr>
      <tr>
        <td>PUBLISHER:</td>
        <td><%= @clio_record.publisher%></td>
      </tr>
    </tbody>
  </table>
</div>

