
<div class='bib_form'>

  <table class='valet_request'>
    <tbody>
      <tr>
        <td>CLIO ID:</td>
        <td><%= @clio_record.id%></td>
      </tr>
      <tr>
        <td>TITLE:</td>
        <td><%= @clio_record.title%></td>
      </tr>
      <% if @clio_record.author.present? %>
        <tr>
          <td>AUTHOR:</td>
          <td><%= @clio_record.author%></td>
        </tr>
      <% end %>
      <% if @clio_record.publisher.present? %>
        <tr>
          <td>PUBLISHER:</td>
          <td><%= @clio_record.publisher%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

