
<p class="text-center">
  <strong>Citation</strong>
</p>

<div class='form-horizontal'>

  <div class='form-group form-group-sm'>
    <label for="ARTVOL1" class="col-sm-4 control-label">Volume #:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTVOL1' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTVOL2" class="col-sm-4 control-label">Issue #, Date:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTVOL2' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTAUTH" class="col-sm-4 control-label">Article Author:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTAUTH' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTITLE" class="col-sm-4 control-label">Article Title:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTITLE' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTSTPG" class="col-sm-4 control-label">Start Page:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTSTPG' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTENPG" class="col-sm-4 control-label">End Page:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTENPG' size='30'>
    </div>
  </div>

  <div class='form-group form-group-sm'>
    <label for="ARTINFO" class="col-sm-4 control-label">Other Identifying Info:</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='ARTINFO' size='30'>
    </div>
  </div>

</div>

