<div class='row'>
  <div class='col-sm-6'>
    <h3>Offsite Request</h3>
  </div>
  <div class='col-sm-6'>
    <% if Rails.env != 'valet_prod' %>
      <%= legacy_offsite_request_link(@clio_record)%>
    <% end %>
  </div>
</div>

<br>

