
<% @clio_record.offsite_holdings.each_with_index do |holding, i| %>  
  <% position = i + 1 %>

  <br>
  Holding <%= position %>:
  <br>

  <div class='offset-block'>
    <%= radio_button_tag(:mfhd_id, holding[:mfhd_id]) %>

    <%= holding_radio_button_label(holding) %>

    <br>
    <% holding[:summary_holdings].each do |summary| %>
      <%= summary%>
      <br>
    <% end %>

  </div>

  <br>
  
<% end %>


