

<div class="alert alert-danger" role="alert">
  <strong>ERROR : </strong> API call failed.
</div>

<dl>
<% @request_item_response.each_pair do |key, value| %>
  <dt>
    <%=key%>
  </dt>
  <dd>
    <%=key%>
  </dd>
<% end %>
</dl>

<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>
