<h3>New Offsite Request</h3>


Please specify a bib id
<%= form_tag(new_offsite_request_path, method: 'get') do %>
  <%= text_field_tag(:bib_id) %>
  <%= submit_tag %>
<% end %>


<%= link_to 'Back', offsite_requests_path %>
