
<div class="alert alert-default">
  The Offsite Request system encountered an error and is unable to continue.
  <br>
</div>

<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>


