<%= render 'header' %>


<h4>Alumni and visitors without borrowing privileges</h4>

Access to the offsite request system now requires a one-time registration. To request registration please send email to
<a><strong>recapregistration@library.columbia.edu</strong></a>
indicating your uni. We will contact you when the registration is complete or if we need additional information.

<br>
<br>

<h4>Faculty, students, staff, and visitors with borrowing privileges</h4>

Access to the offsite request system requires an active borrowing account in good standing. Outstanding library fees of $100 or higher on your account block your ability to borrow materials from on-campus libraries and offsite. Check your library borrowing account at
<strong>
<a href='http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087' target='_blank'>http://www.columbia.edu/cgi-bin/cul/resolve?lweb0087</a>
</strong>
. You will be able to place offsite requests when billed items have been returned and discharged from your library account. If they are indeed lost, there will be a replacement fee of $100 per item. To make payment for lost materials or ask questions about your library account, send email to the Library Information Office at
<a>
<strong>lio@columbia.edu</strong>
</a>
or visit 201 Butler Library.



<!--
Your uni (<%= current_user.login %>) is not eligible to place offsite requests.
<br>
<br>
The following page will advise you on what to do to establish ReCAP request capability.

<br>
<div class='offset-block'>
  <strong>
    <a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb-recapregister">ReCAP Request Capability</a>
  </strong>
</div>

<br>
<br>

<br>
You may also visit a library service desk to speak with someone about making an offsite request.
<br>

-->


<br>
<br>


