<%= render 'header' %>

Your uni (<%= current_user.login %>) is not eligible to place offsite requests.
<br>
<br>
Please visit a library service desk to place a mediated offsite request.
<br>
<br>
More information about Columbia's offsite facility is available on our website:
<br>
<a href="http://library.columbia.edu/find/request/off-site.html">Off-site Library Shelving Facility (ReCAP)</a>


<br>
<br>


