
<div class='row'>
  <div class='col-sm-6'>
    <h4>Offsite Request</h4>
  </div>
  <div class='col-sm-6'>
    <span class='legacy-link bg-success'>
      <%= legacy_offsite_request_link(@clio_record)%>
    </span>
  </div>
</div>

<%= render 'form' %>

<br>
<br>
<br>

