<div id="topnavbar" class="navbar navbar-default navbar-static-top">

  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar" />
        <span class="icon-bar" />
        <span class="icon-bar" />
      </button>
      <a href='#' class="navbar-brand visible-xs">Libraries</a>
    </div>


    <div class="navbar-collapse collapse">


      <ul class="crowndown-nosearch nav navbar-nav">
        <li class="dropdown menu">
          <a href="#" class="dropdown-toggle menu" data-toggle="dropdown" title="Links @ Columbia">
            <span class="topbarlogo">

              <span class='visible-xs'>
                Libraries
              </span>

              <span class='hidden-xs'>
                <span class='crown-icon'>
                  <%= image_tag "crown-bts-24x24.png", alt: "CU" %>
                </span>
                <span>
                  Columbia University Libraries
                  <b class="caret"></b>
                </span>
              </span>

            </span>
          </a>

          <ul class="dropdown-menu menu-dropdown">
            <li><a href="https://columbia.edu"><i class="icon-crown-white"></i> Columbia University » Home</a></li>
            <li><a href="https://library.columbia.edu/index.html"><i class="icon-home icon-white"></i>  Libraries » Home</a></li>
            <li class="divider"></li>
            <li><a href="https://library.columbia.edu/help.html"><i class="icon-flag icon-white"></i> Help</a></li>
            <li><a href="https://hours.library.columbia.edu"><i class="icon-time icon-white"></i> Hours</a></li><li><a href="https://library.columbia.edu/locations/map.html"><i class="icon-map-marker icon-white"></i> Maps &amp; Directions</a></li>
            <li><a href="https://library.columbia.edu/research/askalibrarian.html"><i class="icon-question-sign icon-white"></i> Ask a Librarian</a></li>
            <li><a href="https://library.columbia.edu/help/faq.html"><i class="icon-info-sign icon-white"></i> FAQ</a></li>
            <li><a href="https://library.columbia.edu/find/reserves.html"><i class="icon-book icon-white"></i> Course Reserves</a></li>
            <li><a href="https://library.columbia.edu/find/request.html"><i class="icon-star-empty icon-white"></i> Request Items</a></li>
            <li class="divider"></li><li><a href="https://library.columbia.edu/about/libraries-giving.html"><i class="icon-gift icon-white"></i> Giving to Columbia Libraries</a></li>
            <li><a href="https://library.columbia.edu/news.html"><i class="icon-calendar icon-white"></i> News &amp; Events</a></li>
            <li><a href="#" class="feedback-popup" data-feedback-track-location="navbar"><i class="icon-bullhorn icon-white"></i> Suggestions &amp; Feedback</a></li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">


        <%= render '/shared/user_menu' %>

        <li class="dropdown">
          <a class="" data-toggle="dropdown" href="#">Help <b class="caret"></b></a>

          <ul class="dropdown-menu">
            <li><a href="https://library.columbia.edu/help/faq.html" target="_blank">FAQ</a></li>
            <li><a href="https://library.columbia.edu/help/using-this-site.html" target="_blank">Website Help</a></li>
            <li><a href="https://library.columbia.edu/research/askalibrarian.html" target="_blank">Ask a Librarian</a></li>
            <li><a href="https://library.columbia.edu/find/clio.html" target="_blank">CLIO Help</a></li>
            <li><a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb0006" target="_blank">Report E-Resource Problems</a></li>
            <li><a href="#" class="feedback-popup" data-feedback-track-location="navbar">Suggestions &amp; Feedback</a></li>
            <li><a href="https://library.columbia.edu/help/tips/feedback.html" target="_blank">Help Improve This Website</a></li>
            <li><a href="https://library.columbia.edu/help/site-index.html" target="_blank">Site Index</a></li>
          </ul>

        </li>

      </ul>





    </div>

  </div>

</div>
