<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<br>
<br>



<div class="row">
  <div class="col-xs-6">
    What can I help you with?
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6">
    <a class="btn btn-default" href="<%= new_offsite_request_path %>">New Offsite Request</a>
  </div>
</div>
