

<div class="row">
  <div class="col-xs-6">
    What can I help you with?
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6">
    <a class="btn btn-default" href="<%= bib_offsite_requests_path %>">New Offsite Request</a>
  </div>
</div>



