
standard_delivery_locations:
  - AR
  - BL
  - UT
  - BS
  - BU
  - EA
  - HS
  - CJ
  - GS
  - LE
  - ML
  - MR
  - MZ
  - CA
  - SW

# CUSTOMER CODES
# there are some customer codes which have special delivery rules
QK:
  default:  MR
  available:
    # - BC
    # - BT
    # - BZ
    # - MP
    - MR
    # - MZ
    # - QP


# configuration for each offsite location code
# keys:
#   default:  required key, sets a default 
#             on-campus delivery location
#   available: optional key, a list of available
#              on-campus delivery locations.  
#   If there is no 'available' list then the
#   standard set (standard_delivery_locations) will be used.

# Partner material
# For now, Butler is the only valid delivery location.
# This may change in the future.
scsbnypl:
  default:  BU

scsbpul:
  default:  BU


# Columbia material

off,ave:
  default:  AR
  available:
    -  AR

off,bio:
  default:  CA

off,bmc:
  default:  CV
  available:
    -  CV

off,bssc:
  default:  BS
  available:
    -  BS

off,bus:
  default:  BS

off,che:
  default:  CA

off,docs:
  default:  LE

off,eal:
  default:  EA

off,ean:
  default:  EA
  available:
    -  EA

off,eax:
  default:  EA

off,eng:
  default:  CA

off,fax:
  default:  AR
  available:
    -  AR

off,glg:
  default:  CA

off,glx:
  default:  BU

off,gsc:
  default:  GS

off,hsl:
  default:  HS

off,hsr:
  default:  HS

off,jou:
  default:  CJ

off,leh:
  default:  LE

off,les:
  default:  LE
  available:
    -  LE

off,mat:
  default:  ML

off,mrr:
  default:  CF
  available:
    -  CF

off,msc:
  default:  MR
  available:
    -  MR

off,msr:
  default:  MR
  available:
    -  MR

off,mus:
  default:  MR

off,mvr:
  default:  MR
  available:
    -  MR

off,phy:
  default:  CA

off,psy:
  default:  CA

off,ref:
  default:  BU

off,sci:
  default:  CA

off,swx:
  default:  SW

off,unr:
  default:  UT
  available:
    -  UT

off,utmrl:
  default:  UT
  available:
    -  UT

off,utn:
  default:  UT

off,utp:
  default:  UT
  available:
    -  UT

off,uts:
  default:  UT

off,war:
  default:  AR
  
  
  
  