

<div class="bs-callout bs-callout-danger">
  <h4>There has been an error with the offsite request system</h4>
  <p>
    The development team has been alerted.
    Please try your request again at a later time, 
    or contact library staff to place a mediated offsite request.
  </p>
</div>

<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>
