<%= render 'header' %>



Access to the remote request system now requires a one-time registration. 
To request registration please send email to 
<strong>recapregistration@library.columbia.edu</strong>
indicating your uni.
We will contact you when the registration is complete or if we need additional information. 


<!--
Your uni (<%= current_user.login %>) is not eligible to place remote requests.
<br>
<br>
The following page will advise you on what to do to establish ReCAP request capability.

<br>
<div class='offset-block'>
  <strong>
    <a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb-recapregister">ReCAP Request Capability</a>
  </strong>
</div>

<br>
<br>

<br>
You may also visit a library service desk to speak with someone about making an remote request.
<br>

-->


<br>
<br>


