<%= render 'header' %>



Access to the remote request system now requires a one-time registration. 
To request registration please send email to 
<strong>recapregistration@library.columbia.edu</strong>
indicating your uni.
We will contact you when the registration is complete or if we need additional information. 


<div id='close_popup_button'></div>
<%= javascript_tag 'close_popup_button();' %>



<br>
<br>


