
<!-- views/forms/_delivery_location.html.erb -->


<div class='delivery_location_form'>

  <table class='valet_request'>
    <tr>
      <td width='40%'>
        <strong>Item to Library</strong>
        <br>
        Hardcopy item will be delivered to pickup location in 3-4 business days.
        <br>
        <div class='offset-block'>
          <%= to_library_info_link %>
        </div>
        

      <td>
        <p class="text-center">
          <strong>Preferred Campus Delivery Location</strong>
        </p>
        <%= delivery_select_tag(holding[:location_code], holding[:customer_code]) %>
        <br>
        <br>
        ( campus delivery locations temporarily limited )
      </td>
    </tr>
  </table>

</div>

