
<h4>Scan Request</h4>

In order to route your request to the appropriately
we need to know your primary affiliation with the University.
<br>
Please select your affiliation:


<%= form_with url: campus_scan_index_path do |form| %>

  <%= form.hidden_field(:id, value: bib_record.id) %>
  <%= render 'campus', form: form %>

  <br>
  <br>

  <%= form.submit('Continue') %>

<% end %>
