// Place all the styles related to the OffsiteRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.offsite_request {
  width: 600px;
  border-spacing: 0px;
  background-color: #E8E8E8;
  font-size: 90%;
  border: 2px solid #B0B0B0;
}


table.offsite_request tr,
table.offsite_request tr td {
  padding: 4px;
  border: 1px solid #B0B0B0;
}


table.offsite_request .form-group {
  margin-bottom: 0px;
}
table.offsite_request label {
  font-weight: normal;
}
