
.user-info {
  width: 400px;
}

.tight-list {
  font-size: 80%;
  padding-left: 10px;
  padding-bottom: 4px;
}

.logo {
  font-family: TrajanProRegular, trajan, serif;
  font-weight: bold;
  font-size: 250%;
  color: black;
  margin-bottom: 10px;

  img {
    width: 50px;
    height: 50px;
  }
} 

a.logo:hover {
  text-decoration: none;
}


table.valet_request {
  width: 600px;
  border-spacing: 0px;
  background-color: #E8E8E8;
  font-size: 90%;
  border: 2px solid #B0B0B0;
}


table.valet_request tr,
table.valet_request tr td {
  padding: 4px;
  border: 1px solid #B0B0B0;
}


table.valet_request .form-group {
  margin-bottom: 0px;
}
table.valet_request label {
  font-weight: normal;
}


.offset-block {
  padding-top: 10px;
  padding-left:20px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.danger-block {
  @extend .alert;
  @extend .alert-danger;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  display: inline-block;
}

a.info-link {
  font-style: italic;
}

.instructional_title {
  font-size: 18px;
  margin-bottom: 0px;
}
.instructional_description {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 500px;
}

.container-wide {
  margin: 0px;
}


.copyright_attestation {
  font-size: 90%;
  text-align: justify;
}

/*
These are the styles for the Callouts found in the
Bootstrap docs.

Grabbed from the docs, unmin'd w/ http://mrcoles.com/blog/css-unminify/
*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #bbb;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

