<%= render 'header' %>



Your uni is ineligible to use Interlibrary loan.

Please see 

<br>
<div class='offset-block'>
  <strong>
    <a href="http://library.columbia.edu/find/request/ill.html">http://library.columbia.edu/find/request/ill.html</a>
  </strong>
</div>
<br>

for ILL eligibility and policy details.